{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block shapka %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<article>
    <section>
      <div class="horizontal-container">
        <div class="inner-box">
            <p> <a href="https://github.com/smypmovpfrt">https://github.com/smypmovpfrt</a> </p>
            <p> <a href="https://t.me/memolog1337">https://t.me/memolog1337</a> </p>
        </div>
        <div class="inner-box">
<h2>🌟 Обо мне 🌟</h2>
        <p>Антон. Брянск. 29 лет.</p>
        <p>Многое не помню, но знаю где посмотреть.</p> 
        <p>Готов к испытатльному сроку.</p>
        </div>
    </div>
    </section>
  </article>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
