<!DOCTYPE html>
<html lang="ru">
{% block title -%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  {% endblock -%}  
  <body>
    {% block shapka -%}
    <header>
      <h1>ВСЕМИРНЫЙ ПРЕОБРАЗОВАТЕЛЬ ФОРМАТОВ</h1>
      <h2>Какой полезный сайт!</h2>
      <nav>
        <ul>
            {%for m in site_menu -%}
            <li><a href="{{m.url}}">{{m.name}}</a></li>
            {% endfor -%}
        </ul>
      </nav>
    </header>
    {% endblock %}
    
    {% block content %}
    {% endblock %}
  </body>
    {% block footer -%}  
    <footer>
        <p>Сделано с любовью во время изучения Flask!!!</p>
    </footer>
    {% endblock %}
    </html>

