{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block shapka %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<article>
    <section>
       <center> 
      <h2>Преобразовать формат? Тут такое возможно!!!</h2> 
    </center>
      <div class="horizontal-container">
        <div class="inner-box">
            <form>
                <input type="selectPic" value="Выберите файл 😬😬😬" />
                <label for="input-format">Входной формат:</label>
                <select id="input-format" name="input-format">
                    <option value="jpg">JPG</option>
                    <option value="pgn">PGN</option>
                    <option value="doc">BMP</option>
                    <option value="doc">WEBM</option>
                    <!-- Добавьте другие форматы по мере необходимости -->
                </select>
    
                <label for="output-format">Выходной формат:</label>
                <select id="output-format" name="output-format">
                    <option value="jpg">JPG</option>
                    <option value="pgn">PGN</option>
                    <option value="doc">BMP</option>
                    <option value="doc">WEBM</option>
                </select>
                <input type="submit" value="🙄🙄🙄Преобразовать"/>
                
            </form>
        </div>
        <div class="inner-box">
            <h1>Преобразование файлов онлайн</h1>
            <p>
                Наш сайт предлагает непревзойденное удобство преобразования файлов онлайн – просто загрузите свой документ, выберите нужный формат, и наше мощное программное обеспечение выполнит всю работу за вас!
            </p>
        </div>
    </div>
    </section>
  </article>
  {% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
